[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
mongoengine = "*"
pydantic = "*"
typing = "*"

[dev-packages]
pytest = "*"
mongomock = "*"

[requires]
python_version = "3.11"
